
<body>
    <header>
      
        <nav>
            <!-- Navigation links go here -->
        </nav>
    </header>
    <main>
        
        <center>
        <br>
        
        <article>
            {% if response %}
            <h1 style="color: blue;">{{response.title}}</h1>
            <p>Published {{response.date_time}} by  admin <p>
            <br>
            <p>{{response.description}}</p> 
            <br> <br>
            
            <p>{{response.summary}}</p>
            
            <h2><a href="{% url 'share-page' response.id %}">Share This Post </a></h2>
            <!-- The sharePost() function will be defined in JavaScript to handle the sharing action -->
            {% endif%}
        </article>
    </main>
    <center>
        <h2> Add New comments</h2>


        <form action="{% url 'comment-blog' response.id %}" method="post" style="text-align:center;">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" style="display:inline-block; margin-right:10px;"  required>
          
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" style="display:inline-block; margin-right:10px;" required>
          
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment" rows="5" style="display:inline-block; vertical-align:top; margin-right:10px;" required></textarea>

          
            <input type="submit" value="Submit" style="display:inline-block;">
          </form>

          <br>
          <h3>Recent comments</h3>
          <ul  style="list-style-type:none;">
            {% for c in comment %}
              <li>
                {{ c.email }} at {{ c.date_time }}     
                <br>
                {{c.comment}}           
                </li>
                <br><br>
            {% endfor %}
          </ul>
</body>


